<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>

<table th:border="1">
    <thead>
    <tr>
        <th>name</th>
        <th>model</th>
        <th>series</th>
    </tr>
    </thead>

    <div>
        <th:block th:each="msg : ${cars}">
            <tr th:align="center">
                <td th:text="${msg.getName()}"></td>
                <td th:text="${msg.getModel()}"></td>
                <td th:text="${msg.getSeries()}"></td>
            </tr>
        </th:block>
    </div>

</table>

</body>
</html>

